<p>pipes works!</p>
<h3>{{name}}</h3>
<h3>{{name | lowercase}}</h3>
<h3>{{name | uppercase}}</h3>
<h3>{{title | titlecase}}</h3>
<h3>{{name | slice:2}}</h3>
<h3>{{name | slice:2:4}}</h3>
<h2>{{person | json}}</h2>

<h3>{{5.678 | number: '1.2-3'}}</h3>
<h3>{{5.678 | number: '3.4-5'}}</h3>
<h3>{{5.678 | number: '3.1-2'}}</h3>
<h3>{{0.25 | percent}}</h3>
<h3>{{0.25 | currency}}</h3>
<h3>{{0.25 | currency:'TAKA'}}</h3>
<h3>{{date}}</h3>
<h3>{{date| date:'short'}}</h3>
<h3>{{date| date:'shortDate'}}</h3>
<h3>{{date| date: 'shortTime'}}</h3>